
        <div class="pull-right hidden-xs">
            <b>Versione</b> 1.0 ( Symfony 3.4.24 |  Twig {{ constant('Twig_Environment::VERSION') }} )
        </div>
        <strong>Copyright © 2017-{{ "now"|date("Y") }} <a href="http://www.andreaem.it">AndreaEM</a>.</strong> All rights
        reserved.
