
        <div class="pull-right hidden-xs">
            <b>Versione</b> 0.1 BETA
        </div>
        <strong>Copyright © 2017 <a href="http://andreaem.com">AndreaEM</a>.</strong> All rights
        reserved.
