{% extends 'Admin/base.html.twig' %}

{% block title %}VedoCompro.it - ADMIN - Video{% endblock %}

{% block body %}

    <section class="content-header">
        <h1>
            Video
            <small>Vedi</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="">Video</a></li>
            <li>Vedi</li>
        </ol>
    </section>

{% endblock %}