{% extends 'base.html.twig' %}
{% block body %}
{% include 'template/header.html.twig' %}
    <div class="container" style="margin-top:200px">
        <div class="row">
            <div class="col-lg-12">
                <div class="one_line_col">
                    <h2>Titolare del Trattamento dei Dati</h2>
                    <p>VedoCompro.it s.r.l.s. è il titolare del trattamento dei dati</p>
                </div>
                <div class="one_line_col">
                    <h2>Tipologie di Dati raccolti</h2>
                    <p>Fra i Dati Personali raccolti da questa Applicazione, in modo autonomo o tramite terze parti, ci sono: Cookie e Dati di Utilizzo.</p>
                    <p>Altri Dati Personali raccolti potrebbero essere indicati in altre sezioni di questa privacy policy o mediante testi informativi visualizzati contestualmente alla raccolta dei Dati stessi.<br />I Dati Personali possono essere inseriti volontariamente dall&rsquo;Utente, oppure raccolti in modo automatico durante l'uso di questa Applicazione.<br />L&rsquo;eventuale utilizzo di Cookie - o di altri strumenti di tracciamento - da parte di questa Applicazione o dei titolari dei servizi terzi utilizzati da questa Applicazione, ove non diversamente precisato, ha la finalit&agrave; di identificare l&rsquo;Utente e registrare le relative preferenze per finalit&agrave; strettamente legate all'erogazione del servizio richiesto dall&rsquo;Utente.<br />Il mancato conferimento da parte dell&rsquo;Utente di alcuni Dati Personali potrebbe impedire a questa Applicazione di erogare i propri servizi.</p>
                    <p>L'Utente si assume la responsabilit&agrave; dei Dati Personali di terzi pubblicati o condivisi mediante questa Applicazione e garantisce di avere il diritto di comunicarli o diffonderli, liberando il Titolare da qualsiasi responsabilit&agrave; verso terzi.</p>
                </div>
                <div class="one_line_col">
                    <h2>Modalit&agrave; e luogo del trattamento dei Dati raccolti</h2>
                    <h3>Modalit&agrave; di trattamento</h3>
                    <p>Il Titolare tratta i Dati Personali degli Utenti adottando le opportune misure di sicurezza volte ad impedire l&rsquo;accesso, la divulgazione, la modifica o la distruzione non autorizzate dei Dati Personali.<br />Il trattamento viene effettuato mediante strumenti informatici e/o telematici, con modalit&agrave; organizzative e con logiche strettamente correlate alle finalit&agrave; indicate. Oltre al Titolare, in alcuni casi, potrebbero avere accesso ai Dati categorie di incaricati coinvolti nell&rsquo;organizzazione del sito (personale amministrativo, commerciale, marketing, legali, amministratori di sistema) ovvero soggetti esterni (come fornitori di servizi tecnici terzi, corrieri postali, hosting provider, societ&agrave; informatiche, agenzie di comunicazione) nominati anche, se necessario, Responsabili del Trattamento da parte del Titolare. L&rsquo;elenco aggiornato dei Responsabili potr&agrave; sempre essere richiesto al Titolare del Trattamento.</p>
                    <h3>Luogo</h3>
                    <p>I Dati sono trattati presso le sedi operative del Titolare ed in ogni altro luogo in cui le parti coinvolte nel trattamento siano localizzate. Per ulteriori informazioni, contatta il Titolare.</p>
                    <h3>Tempi</h3>
                    <p>I Dati sono trattati per il tempo necessario allo svolgimento del servizio richiesto dall&rsquo;Utente, o richiesto dalle finalit&agrave; descritte in questo documento, e l&rsquo;Utente pu&ograve; sempre chiedere l&rsquo;interruzione del Trattamento o la cancellazione dei Dati.</p>
                </div>
                <div class="one_line_col">
                    <h2>Finalit&agrave; del Trattamento dei Dati raccolti</h2>
                    <p>I Dati dell&rsquo;Utente sono raccolti per consentire al Titolare di fornire i propri servizi, cos&igrave; come per le seguenti finalit&agrave;: Statistica e Accesso agli account su servizi terzi.</p>
                    <p>Le tipologie di Dati Personali utilizzati per ciascuna finalit&agrave; sono indicati nelle sezioni specifiche di questo documento.</p>
                </div>
                <div class="one_line_col">
                    <h2>Permessi Facebook richiesti da questa Applicazione</h2>
                    <p>Questa Applicazione pu&ograve; richiedere alcuni permessi Facebook che le consentono di eseguire azioni con l&rsquo;account Facebook dell&rsquo;Utente e di raccogliere informazioni, inclusi Dati Personali, da esso.</p>
                    <p>Per maggiori informazioni sui permessi che seguono, fai riferimento alla <a href="https://developers.facebook.com/docs/authentication/permissions/" target="_blank">documentazione dei permessi Facebook</a> ed alla <a href="https://www.facebook.com/about/privacy/" target="_blank">privacy policy di Facebook</a>.</p>
                    <p>I permessi richiesti sono i seguenti:</p>
                    <h3>Informazioni di base</h3>
                    <p>Le informazioni di base dell&rsquo;Utente registrato su Facebook che normalmente includono i seguenti Dati: id, nome, immagine, genere e lingua di localizzazione ed, in alcuni casi gli &ldquo;Amici&rdquo; di Facebook. Se l'Utente ha reso disponibili pubblicamente Dati ulteriori, gli stessi saranno disponibili.</p>
                    <h3>Accesso alle liste di amici</h3>
                    <p>Fornisce accesso alle liste di amici che l'Utente ha creato.</p>
                    <h3>Aggiornamento di stato</h3>
                    <p>Aggiorna lo stato dell'Utente.</p>
                    <h3>Citt&agrave; di origine</h3>
                    <p>Fornisce accesso alla citt&agrave; di origine dell'Utente.</p>
                    <h3>Data di compleanno</h3>
                    <p>Fornisce accesso alla data di compleanno.</p>
                    <h3>Email</h3>
                    <p>Fornisce accesso all'indirizzo email primario dell'Utente.</p>
                    <h3>Foto</h3>
                    <p>Fornisce accesso alle foto che l'Utente ha caricato ed a quelle in cui &egrave; stato taggato.</p>
                </div>
                <div class="one_line_col">
                    <h2>Dettagli sul trattamento dei Dati Personali</h2>
                    <p>I Dati Personali sono raccolti per le seguenti finalit&agrave; ed utilizzando i seguenti servizi:</p>
                    <ul class="for_boxes">
                        <li>
                            Accesso agli account su servizi terzi
                        </li>
                        <li>
                            Statistica
                        </li>
                    </ul>
                </div>
                <div class="one_line_col">
                    <h2>Ulteriori informazioni sul trattamento</h2>
                    <h3>Difesa in giudizio</h3>
                    <p>I Dati Personali dell&rsquo;Utente possono essere utilizzati da parte del Titolare in giudizio o nelle fasi propedeutiche alla sua eventuale instaurazione per la difesa da abusi nell'utilizzo di questa Applicazione o dei servizi connessi da parte dell&rsquo;Utente.<br />L&rsquo;Utente dichiara di essere consapevole che al Titolare potrebbe essere richiesto di rivelare i Dati su richiesta delle pubbliche autorit&agrave;.</p>
                    <h3>Informative specifiche</h3>
                    <p>Su richiesta dell&rsquo;Utente, in aggiunta alle informazioni contenute in questa privacy policy, questa Applicazione potrebbe fornire all'Utente delle informative aggiuntive e contestuali riguardanti servizi specifici, o la raccolta ed il trattamento di Dati Personali.</p>
                    <h3>Log di sistema e manutenzione</h3>
                    <p>Per necessit&agrave; legate al funzionamento ed alla manutenzione, questa Applicazione e gli eventuali servizi terzi da essa utilizzati potrebbero raccogliere Log di sistema, ossia file che registrano le interazioni e che possono contenere anche Dati Personali, quali l&rsquo;indirizzo IP Utente.</p>
                    <h3>Informazioni non contenute in questa policy</h3>
                    <p>Maggiori informazioni in relazione al trattamento dei Dati Personali potranno essere richieste in qualsiasi momento al Titolare del Trattamento utilizzando le informazioni di contatto.</p>
                    <h3>Esercizio dei diritti da parte degli Utenti</h3>
                    <p>I soggetti cui si riferiscono i Dati Personali hanno il diritto in qualunque momento di ottenere la conferma dell'esistenza o meno degli stessi presso il Titolare del Trattamento, di conoscerne il contenuto e l'origine, di verificarne l'esattezza o chiederne l&rsquo;integrazione, la cancellazione, l'aggiornamento, la rettifica, la trasformazione in forma anonima o il blocco dei Dati Personali trattati in violazione di legge, nonch&eacute; di opporsi in ogni caso, per motivi legittimi, al loro trattamento. Le richieste vanno rivolte al Titolare del Trattamento.</p>
                    <p>Questa Applicazione non supporta le richieste &ldquo;Do Not Track&rdquo;.<br />Per conoscere se gli eventuali servizi di terze parti utilizzati le supportano, l'Utente &egrave; invitato a consultare le rispettive privacy policy.</p>
                    <h3>Modifiche a questa privacy policy</h3>
                    <p>Il Titolare del Trattamento si riserva il diritto di apportare modifiche alla presente privacy policy in qualunque momento dandone pubblicit&agrave; agli Utenti su questa pagina. Si prega dunque di consultare spesso questa pagina, prendendo come riferimento la data di ultima modifica indicata in fondo. Nel caso di mancata accettazione delle modifiche apportate alla presente privacy policy, l&rsquo;Utente &egrave; tenuto a cessare l&rsquo;utilizzo di questa Applicazione e pu&ograve; richiedere al Titolare del Trattamento di rimuovere i propri Dati Personali. Salvo quanto diversamente specificato, la precedente privacy policy continuer&agrave; ad applicarsi ai Dati Personali sino a quel momento raccolti.</p>
                </div>
            </div>
        </div>
    </div>

{% include 'template/footer.html.twig' %}
{% endblock %}