<div class="modal fade" id="send_message">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Messaggio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Destinatario: &nbsp; {{ user_info.0.name }}</p>
        <textarea class="form-control" width="100%" rows="20" placeholder="Inserisci il messaggio"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Invia</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
      </div>
    </div>
  </div>
</div>