{% extends 'base.html.twig' %}
{% block body %}
    {% include 'template/header.html.twig' %}
    <div class="wrapper">
        <div class="container-fluid scrollbar">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-signin">
                    <h2 class="form-signin-heading">Ripristino Password</h2>
                    <p>Una mail è stata inviata all'indirizzo {{ mail }}</p>
                    <p>Clicca sul link fornito per reimpostare la tua password</p>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </div>
    </div>

{% endblock %}