<footer class="footer">
    <div class="container">
        <p class="text-center">
            <small>VedoCompro.it &copy; 2017 - Tutti i Diritti Riservati - <a href="{{ url('privacy-policy') }}">Privacy Policy</a> - <a href="{{ url('terms-of-service') }}">Termini di Servizio</a></small>
            {% if is_granted('ROLE_MODERATOR') %}
                - <small><a href="{{ url('admin') }}">ADMIN</a></small>
            {% endif %}
            <small><a href="{{ url('helpdesk') }}"> - HelpDesk</a></small>
        </p>
    </div>
</footer>
<div class="help">
    <div class="help-button">
        <p class="help-button-text">Feedback</p>
    </div>
    <div class="help-panel">
        <div class="help-panel-form-page">
            <h5>Il tuo commento è importante!</h5>
            <h5><small>Facci sapere cosa ne pensi!</small></h5>
            <br>
            <form id="help-panel-form">
                <label for="help-panel-form-name">Nome</label>
                <input name="help-panel-form-name" class="form-control" type="text">
                <label for="help-panel-form-email">Email</label>
                <input name="help-panel-form-email" class="form-control" type="email">
                <label for="help-panel-form-type">Tipo</label>
                <select name="help-panel-form-type" class="form-control">
                    <option value="suggerimento">Suggerimento</option>
                    <option value="errore">Errore/Bug</option>
                    <option value="problema">Problema</option>
                </select>
                <label for="help-panel-form-message">Messaggio</label>
                <textarea name="help-panel-form-message" class="form-control"></textarea>
                <br>
                <a href="" class="btn btn-success float-right" id="help-panel-form-submit">Invia</a>
            </form>
        </div>
        <div class="help-panel-thanks-page hidden">
            <h4>Grazie!</h4>
            <h5><small>Il tuo commento è stato inviato, questo ci permetterà di crescere e risolvere i problemi riscontrati dai nostri utenti.</small></h5>
        </div>
    </div>
</div>

<style>
    body {
        overflow-x: hidden;
    }
    .help-button {
        position: absolute;
        width: 35px;
        height: 130px;
        right: 0px;
        top: 49%;
        background-color: #ff0000;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .help-button-text {
        text-align: center;
        transform: rotate(90deg);
        transform-origin: left top 0;
        color: #FFFFFF;
        text-transform: capitalize;
        font-weight: 900;
        position: absolute;
        right: -75px;
        top: 25px;
    }
    .help-panel {
        position: absolute;
        width: 300px;
        height: 500px;
        right: -300px;
        top: 30%;
        background-color: #eff0ef;
        border: 1px solid #333333;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .help-panel h5 {
        text-align: center;
    }
    .help-panel h5:first-of-type {
        margin-top: 10px;
    }
    .help-panel a {
        color: #FFFFFF;
    }
    .help-panel-thanks-page h4 {
        margin-top: 100px;
        text-align: center;
    }
</style>
<script>
    $('.help-panel').hide();
    $('.help-button').click(function() {
        $('.help-panel').show();
        $('.help-panel-thanks-page').hide();
        if($(this).hasClass('help-show')){
            $(".help-panel").css('position','absolute')
            $( " .help-panel, .help-button" ).animate({
                right: "-=300"
            }, 700, function() {
                $('.help-panel-form-page').show();
                $('.help-panel').hide();
            });
            $(this).removeClass('help-show').addClass('help-hide');

        }
        else {
            $( " .help-panel, .help-button" ).animate({
                right: "+=300"
            }, 700, function() {
                // Animation complete.
            });
            $(this).removeClass('help-hide').addClass('help-show');
        }
    });
    $('#help-panel-form-submit').click(function (e) {
        e.preventDefault();
        var url = '/ajax/suggest.form.php';
        $('#help-panel-form').ajaxSubmit({
            url: url,
            type: 'post',
            success: function() {
                $('.help-panel-form-page').hide();
                $('#help-panel-form-submit').hide();
                $('.help-panel-thanks-page').show();
            },
            error: function() {
                alert ('error');
            }
        });

    })
</script>